<div class="publications-container">
    <mat-card class="publication-card">
      <mat-card-title>Nova hamburgueria inaugura no centro!</mat-card-title>
      <mat-card-subtitle>Postado em 6 de maio de 2025</mat-card-subtitle>
      <mat-card-content>
        O restaurante “Burger Top” trouxe hambúrguer artesanal e ambiente moderno. Visite e avalie!
      </mat-card-content>
    </mat-card>
  
    <mat-card class="publication-card">
      <mat-card-title>Pastelaria do Zé recebe selo de qualidade!</mat-card-title>
      <mat-card-subtitle>Postado em 4 de maio de 2025</mat-card-subtitle>
      <mat-card-content>
        A tradicional pastelaria foi reconhecida pela excelência no atendimento e sabor inigualável.
      </mat-card-content>
    </mat-card>
  </div>
  